<div>
   <table>
        <tr>
            <td>
                <img src="./assets/logo.png" alt="Logo" class="logoImg" />
            </td>
            <td class="headerLinks">
                <a href="/">Home</a>
            </td>
            <td class="headerLinks">
                <a href="/about">About</a>
            </td>
            <td class="headerLinks">
                <a href="contact">Contact</a>
            </td>
        </tr>  
        <tr>
            <td colspan="4" class="fullname">{{ fullname }} <button (click)="logout()">Logout</button></td>
        </tr>   
   </table>     
</div>
