.title {
    /* margin-left: 120px;  */
    color: #000080;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

a:link,
a:visited {
    background-color: #a6c1e0;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 75%;
}

.btn-warning {
    background-color: #f4ba75 !important;
}

.table {
    font-size: small;
    margin: 25px 0 0 50px;
    width: 92%;
    background-color: -o-linear-gradient(#aa2b2bee #67245e, #000);
}


td {
    border: 1px solid #ddd;
    height: 50px;
}