<h3 class="title">New Experiment</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <a href="/experiments" class="btn btn-warning"><i class='bx bx-arrow-back'></i> Back</a>
    </div>
    <div>
        <label for="name">Name</label><br>
        <input id="name" placeholder="Enter experiment name" type="text" class="form-control" formControlName="name">
    </div>
    <div>
        <label for="yamldefinition">
            YAML Definition
        </label><br>
        <input type="file" class="uploadInput" id="file" (change)="selectFile($event)" />
    </div>
    <div>
        <label for="startdate">Start Date</label><br>
        <input id="startdate" type="datetime-local" class="form-control" formControlName="startdate">
    </div>
    <div>
        <label for="enddate">End Date</label><br>
        <input id="enddate" type="datetime-local" class="form-control" formControlName="enddate">
    </div>

    <div class="submitButton">
        <button  type="submit" [disabled]="!(form.valid && currentFile)" class="btn btn-primary" >Submit</button>
    </div>
    
</form>