<h3 style="margin-left: 50px;">Experiment</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <a href="/experiments" >Back</a>
    </div>
    <div>
        <label for="name">Name</label><br>
        <input id="name" placeholder="Enter experiment name" type="text" class="form-control" formControlName="name">
    </div>
    <div>
        <label for="yamldefinition">
            YAML Definition
        </label><br>
    
        <div class="col-8">
            <label class="btn btn-default p-0">
                <input type="file" class="uploadInput" id="file" (change)="selectFile($event)" />
            </label>
        </div>
    </div>
    <div>
        <label for="startdate">Start Date</label><br>
        <input id="startdate" type="datetime-local" class="form-control" formControlName="startdate">
    </div>
    <div>
        <label for="enddate">End Date</label><br>
        <input id="enddate" type="datetime-local" class="form-control" formControlName="enddate">
    </div>


    <button  type="submit" [disabled]="!(form.valid && currentFile)">Submit</button>

    
</form>