.title {
    /* margin-left: 120px;  */
    color: #000080;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

a:link,
a:visited {
    background-color: #74d0ef;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 75%;
}

a:hover,
a:active {
    background-color: #74d0ef;
    color:white;
}

input {
    border: 1px solid black;
}

label {
    font-size: small;
    margin-left: 120px;
}

.form-control {
    width: 75%;
    margin-bottom: 5px;
    margin-left: 120px;
}

.file-input {
    display: none;
}

.uploadInput {
    width: 75%;
    margin-left: 120px;
}

.submitButton {
    text-align: center;
}

.btn-warning {
    background-color: #f4ba75 !important;
}