<h3 class="title">Edit Experiment</h3>

<form [formGroup]="form" (ngSubmit)="submit()" >
    <div>
        <a href="/experiments" class="btn btn-warning"><i class='bx bx-arrow-back'></i> Back</a>
    </div>
    <div>
        <label for="name">Name</label><br>
        <input formControlName="name" id="name" [(ngModel)]="experiment.name"  type="text" class="form-control" >
        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">Νame is required.</div>
        </div>
    </div>
    <div>
        <label for="yamldefinition">
            YAML Definition
        </label><br>
        <input type="file" class="uploadInput" id="file" (change)="selectFile($event)" />    
    </div>
    <div>
        <label for="startdate">
            Start Date
        </label><br>
        <input id="startdate" [(ngModel)]="experiment.startdate" type="datetime" class="form-control" formControlName="startdate">
    </div>
    <div>
        <label for="enddate">
            End Date
        </label><br>
        <input id="enddate" [(ngModel)]="experiment.enddate" type="datetime" class="form-control" formControlName="enddate">
    </div>

    <div class="submitButton">
        <button  type="submit" [disabled]="!(form.valid && currentFile)" class="btn btn-primary" ><i class='bx bxs-edit-alt'></i> Update</button>
    </div>

</form>