.title {
    /* margin-left: 120px;  */
    color: #000080;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

a:link,
a:visited {
    background-color: #a6c1e0;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 75%;
}

a:hover,
a:active {
    background-color: #a6c1e0;
}

.table {
    font-size: small;
    margin-top: 15px;
    width: 100%;
    background-color: -o-linear-gradient(#aa2b2bee #67245e, #000);
}

thead {
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
    height: 50px;
}




input {
    border: 1px solid black;
}

label {
    font-size: small;
    margin-left: 120px;
}

.form-control {
    width: 75%;
    margin-bottom: 5px;
    margin-left:120px;
}

.uploadInput {
    width:75%;
    margin-left: 120px;
}

.submitButton {
    text-align: center;
}

.btn-warning {
    background-color: #f4ba75 !important;
}