
<p>Hello !!!!!!!!!</p>
<button (click)="logout()">Logout</button>

<div class="row">
    <div class="col-md-3">
        <ul class="menu">
            <li class="menu">
                <a routerLink="/profile" routerLinkActive="active" class="links">Profile</a>
            </li>
            <li class="menu">
                <a routerLink="/experiments" routerLinkActive="active" class="links">Experiments</a>
            </li>
            <li class="menu">
                <a routerLink="/xapps" routerLinkActive="active" class="links">xApps</a>
            </li>
            <li class="menu">
                <a routerLink="/repository" routerLinkActive="active" class="links">Repository</a>
            </li>
        </ul>
        
    </div>
    <div class="col-md-3">
        <router-outlet> </router-outlet>
    </div>
</div>

