<h3 style="margin-left: 50px;">Edit xApp</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <a href="/xapps">Back</a>
    </div>
    <div>
        <label for="name">xApp name</label><br>
        <input formControlName="name" id="name" [(ngModel)]="xapp.name" type="text" class="form-control">
        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">Νame is required.</div>
        </div>
    </div>
    <div>
        <label for="description">Description</label><br>
        <input formControlName="description" id="description" [(ngModel)]="xapp.description" type="text" class="form-control">
        <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
            <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required.</div>
        </div>
    </div>
    <div>
        <label for="status">Status</label><br>
        <input formControlName="status" id="status" [(ngModel)]="xapp.status" type="text" class="form-control">
        <div *ngIf="f['status'].touched && f['status'].invalid" class="alert alert-danger">
            <div *ngIf="f['status'].errors && f['status'].errors['required']">Status is required.</div>
        </div>
    </div>


    <button type="submit" [disabled]="!form.valid" style="margin-left: 50px;">Submit</button>


</form>