.title {
    /* margin-left: 120px;  */
    color: #000080;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}


.filter {
    margin-left: 50px;
    width: 70%;
}

.table {
    font-size: small;
    margin-left: 50px;
    margin-top: 15px;
    width: 80%;
}

td {
    border-bottom: 1px solid #ddd;
    height: 50px;
    width: 25%;
}

.linkButton {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 15px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.addxApp {
    text-align: center;
    background-color: #cac7c7;
    color: #333333;
    padding: 15px;
    border: 1px solid #333333;
    margin: auto;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    width:6%
}