

<h3 class="title">xApps</h3>

<div style="text-align: center;" >
    <button onclick="toggle_dashboard();" class="btn btn-warning">Dashboard</button>&nbsp;
    <button onclick="toggle_newFrame();" class="btn btn-warning">New</button>&nbsp;
    <button onclick="toggle_running();" class="btn btn-warning">Running</button>
</div><br>



<iframe id="dashboard" title="Dashboard"
    src="https://5g-facility.eurecom.fr/v_6gbricks/dashboard"  >  
</iframe>

<iframe id="newFrame" title="New" style="display:none;"
    src="https://5g-facility.eurecom.fr/v_6gbricks/create-slice-nsd-upload">
</iframe>

<iframe id="running" title="Running" style="display:none;"
    src="https://5g-facility.eurecom.fr/v_6gbricks/running_slices">
</iframe>


