.title {
    /* margin-left: 120px;  */
    color: #000080;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

label {
    font-size: small;
    /* margin-left: 120px; */
}

/* .form-control {
     width: 75%; 
    margin-bottom: 5px;
    margin-left: 120px;
} */


.container {
    margin-left: 120px;
    
}

.infoText {
    color: #6060c2;
    margin-top: 30px;
}

button {
    margin: 1px;
    padding: 6px 20px;
    border: 2px solid;
}

